// ========================================================= Variables

@ty_social_border_color: #7d93ab;

@rounded_corners: false;
@links: #000;
@menu_links: #ffffff;
@menu: #f6323e;
@base: #eeeeee;
@font: #000;
@primary_button: #c3074e;
@secondary_button: #c3074e;
@tertiary_button: #979797;
@sidebar: #fff;
@price: #343434;
@discount_label: #f5b8c2;
@in_stock: #2ECC71;
@out_of_stock: #a80006;
@top_panel_links: #ffffff;
@top_panel_text: #ffffff;
@footer_text: #000;
@decorative: #e3e3e3;

@general_bg_color: #ffffff;
@general_bg_image: transparent;
@general_bg_repeat: repeat;
@general_bg_scroll: scroll;

@top_panel_bg: #e6eff4;
@top_panel_bg_full: true;
@top_panel_bg_transparent: false;
@top_panel_bg_grad_stop: #e6eff4;

@header_bg: #ffffff;
@header_bg_full: false;
@header_bg_transparent: false;
@header_bg_grad_stop: #ffffff;

@content_bg: #ffffff;
@content_bg_full: false;
@content_bg_transparent: false;

@footer_bg: #e6eff4;
@footer_bg_full: true;
@footer_bg_transparent: false;
@footer_bg_grad_stop: #e6eff4;

@body_font: Arial, "Microsoft JhengHei", "STHeiti", "LiHei Pro", "WenQuanYi Zen Hei", "DFKai-SB", sans-serif;
@body_font_size: 16px;
@body_font_style: normal;
@body_font_weight: normal;
@headings_font: Arial, "Microsoft JhengHei", "STHeiti", "LiHei Pro", "WenQuanYi Zen Hei", "DFKai-SB", sans-serif;
@headings_font_size: 24px;
@headings_font_decoration: none;
@headings_font_style: normal;
@headings_font_weight: bold;
@links_font: Arial, "Microsoft JhengHei", "STHeiti", "LiHei Pro", "WenQuanYi Zen Hei", "DFKai-SB", sans-serif;
@links_font_size: 14px;
@links_font_decoration: none;
@links_font_style: normal;
@links_font_weight: normal;
@price_font: Arial, "Microsoft JhengHei", "STHeiti", "LiHei Pro", "WenQuanYi Zen Hei", "DFKai-SB", sans-serif;
@price_font_size: 20px;
@price_font_decoration: none;
@price_font_style: normal;
@price_font_weight: bold;
@buttons_font: Arial, "Microsoft JhengHei", "STHeiti", "LiHei Pro", "WenQuanYi Zen Hei", "DFKai-SB", sans-serif;
@buttons_font_size: 14px;
@buttons_font_decoration: none;
@buttons_font_style: normal;
@buttons_font_weight: normal;
@sub_button:#c3074e;

*{
  box-sizing: border-box;
}

.open_phone{
  display: block !important;
  @media(min-width:768px){
    display: none !important;
  }
}



// ========================================================= Finaly

h2.ty-mainbox-title {
  margin-top: 10px;
  font-size: 36px;
  text-transform: uppercase;
  line-height: 155%;
  font-weight: normal;
  color: #333;
}

.ty-breadcrumbs {
  margin-bottom: 10px;
  padding:5px;
  text-align: right;
  .ty-breadcrumbs__current{
    font-size:14px;
  }
}

// ========================================================= Top panel

.tygh-top-panel {
  border-bottom: 1px solid darken(@top_panel_bg, 15%);

  .ty-select-block__a {
    padding: 7px 3px 4.5px 3px;
    height: 34px;
    box-sizing: border-box;
  }

  .ty-flag {
    margin-top: 0px;
    margin-right: 0;
  }

  .ty-dropdown-box__title {
    padding: 7px 0 7px 0;
  }

  .ty-select-block {
    top: 34px;

    .ty-select-block__list-item{
      padding: 0;
    }
  }

  .ty-dropdown-box__content {
    margin-top: 0;

    .ty-dropdown-box__item:hover {
      background: none;

      &, a {
        color: @secondary_button;
      }
    }
  }

  * {
    font-size: @body_font_size + 1;
  }

  input[type="text"], input[type="password"], textarea, select {
    font-size: 12px;
  }

  .ty-btn-go {
    background: desaturate(darken(@top_panel_bg, 8%), 7%);
    box-sizing: border-box;
    &, * {
      font-size: 22px;
    }
  }
}

.ty-dropdown-box__content .ty-account-info__orders,
.ty-dropdown-box__content .ty-account-info__buttons {
  background: @top_panel_bg;
}

.ty-dropdown-box__title {
  &:hover, &.open {
    background: spin(desaturate(darken(@top_panel_bg, 7%), 14%), 2);
    color: @top_panel_links;

    *, a, i {
      color: initial;
    }
  }

  &.open {
    background: spin(desaturate(darken(@top_panel_bg, 24%), 18%), 4);
  }

  i {
    margin-left: 3px;

    &.ty-icon-moon-user {
      margin-right: 2px;
    }
  }
}

@media (max-width: 979px) and (min-width: 768px){
  .ty-account-info__buttons .ty-btn {
    display:inline-block; 
    margin-bottom: 0;
    margin-left: 0;
}
}

// ======================================================= Quick menu items

.ty-quick-menu-item__points, .ty-quick-menu-item__gift {
  &:before {
    font-size: 11px;
  }
}

// ============================================================= Header

.tygh-header {
  p, div, li, a {
  
  }
}

.tygh-header{
  .header-grid{
    width:100%;
    max-width:none;
    padding-right:0;
    padding-left:0;
    position: relative;
  }
}

// =================================================== Top search block

.ty-search-block {
  > form {
    padding-right: @main_search_input_size;
  }
}

.ty-search-magnifier {
  background: #fff;
  color: #000;
  top: 0;
  height: 100%;
  right: 0;
  width: @main_search_input_size;
}

input.ty-search-block__input {
  padding: 7px 8px 7px 8px;
  height: @main_search_input_size;
  font-size: 12px;
}

.cm-hint {
  color: spin(desaturate(lighten(@font, 32%), 21%), -211);
}

@main_search_input_size: 35px;

// ================================================= Cart content block

.top-cart-content {
  background: none;

  .ty-dropdown-box {
    display: block;
  }

  .ty-dropdown-box__title {
    padding: 0 15px 0 0;
    border-width: 0;

    i {
      margin-left: 0;
    }

    .ty-minicart__icon {
      top: -2px;
      left: 0;
      bottom: 0;
      width: 35px;
      height: 35px;
      margin-left: 10px;
      line-height: 32px;
      color: white;
      text-align: center;
      font-size: 14px;

      &:hover {
      }

      &.empty {
        
      }
    }
  }

  .ty-dropdown-box__title.open .ty-minicart-title {
    color: @font;
  }

  .ty-icon-down-micro {
    color: @secondary_button;
    padding-left: 10px;

    &:before {
      content: "\e019";
      font-size: 1.2em;
    }
  }

  .ty-dropdown-box__title:hover,
  .ty-dropdown-box__title.open {
    background: none;

    .ty-icon-down-micro {
      color: @secondary_button;
    }
  }
}

.ty-minicart-title {
  color:#fff;
  padding-left: 0;
  span{
    width:20px;
    height:20px;
    line-height: 20px;
    display: block;
    border-radius: 50px;
    background:@secondary_button;
    text-align: center;
    z-index: 555;
    position: relative;
  }

  * {
    line-height: 100%;
  }

  .ty-minicart-title__header {
    font-weight: bold;

    & + span {
      padding-top: 10px;
      padding-bottom: 7px;
    }
  }
}

.ty-cart-items__list-item-desc {
  a {
    color: @secondary_button;
  }
}

.ty-estimation-buttons .ty-btn {
    margin-top: 3px;
    margin-bottom: 3px;
}

.buttons-container {
  &.ty-cart-content__top-buttons,
  &.ty-cart-content__bottom-buttons {
    .ty-btn {
      margin-top: 3px;
      margin-bottom: 3px;
    }
  }
}

@media screen and (max-width: 979px){
  .buttons-container {
    &.ty-cart-content__top-buttons,
    &.ty-cart-content__bottom-buttons {
      button.ty-btn {
        width: 100%;
      }
      .ty-btn {
        display: block;
        margin-left: 0;
      }
      .ty-cart-content__right-buttons {
        text-align: right;
        .ty-btn {
          margin-left: auto;
          margin-right: 0;
        }
      }
    }
  }
}




//==============================================custom Head
.ty-menu__items{
  .ty-menu__item-link{
    border-bottom:rgba(255,255,255,0) 2px solid;
    @media(max-width:767px){
      border-bottom:0;
    }
    &:hover{
      border-bottom:#f06680 2px solid;
      @media(max-width:767px){
        border-bottom:0;
      }
    }
  }
} 
.ty-menu__item-active .ty-menu__item-link{
  background:none;
  border-bottom:#f06680 2px solid;
  @media(max-width:767px){
    border-bottom:0;
  }

}
.top-menu .ty-menu__item a.ty-menu__item-link:before {
  content: "";
  display: inline-block;
  height: 32px;
  vertical-align: middle;
  width: 32px;
  @media (max-width:1279px) {
    width:30px;
    height:30px;
    background-size: contain;    
  }
  @media (max-width:767px) {
    width:32px;
    height:32px;    
  }

}
.about_btn a.ty-menu__item-link:before {
  background: url(/images/companies/1/comm/menu-1.png) no-repeat;
}

.news_btn a.ty-menu__item-link:before {
  background: url(/images/companies/1/comm/menu-2.png) no-repeat;
 
}


.all_pro_mu>a.ty-menu__item-link:before {
  background: url(/images/companies/1/comm/menu-3.png) no-repeat;
 
}

.shop_btn a.ty-menu__item-link:before {
  background: url(/images/companies/1/comm/menu-4.png) no-repeat;
 
}

.moon-commerce:before{
  background: url(/images/companies/1/comm/menu-3.png) no-repeat;
  content: "";
  display: inline-block;
  height: 32px;
  vertical-align: middle;
  width: 32px;
}


.community{
  font-size: 0;
}
.community>div{ 
  display: inline-block;
  font-size: 0;
}

.community>div a{
  font-size: @body_font_size + 10;
  width:40px;
  height:40px;
  display: block;
  line-height: 40px;
  text-align: center;
  color:#fff;
  padding-top:3px;
  @media(max-width:1365px) {
    width:35px;
    height:35px;
    line-height:35px;
  }
  @media(max-width:1023px) {
    width:40px;
    height:40px;
    line-height:40px;
  }
}
.community>div.envelope a{
  background:#c3074e
}
.community>div.facebook a{
  background:#3b5998
}

.community>div.line a{
  background:#01c037
}

.search_box .ty-dropdown-box__title{
  background:#f06681;
  height:40px;
  padding:0 10px;
  line-height:40px;
  color:#fff;
  cursor: pointer;
  @media (max-width:1365px) {
    height:35px;
    line-height:35px;
  }
  @media (max-width:1023px) {
    height:40px;
    line-height:40px;
  }
  @media (max-width:767px) {
    position: absolute;
    right:0;
    top:20px;
    z-index: 333;
  }
  @media (max-width:480px) {
    top:10px;
  }
  &:hover{
    background:#e85471;
    color:#fff;
  }
  &.open{
    background:#e85471;
    color:#fff;
    span{
      color:#fff;
    }
  }

  @media (max-width:480px) {
    height:35px;
    line-height:35px;
    padding:0 5px;
    img{
      width:25px;
    }
  }
}

.search_box .ty-dropdown-box__content{
  border:0;
  margin-top:0;
}

@media (max-width:991px) {
.search_box {
  .ty-dropdown-box{
    position: static;
    }
  }
  .ty-wysiwyg-content{
    position: static !important;
  }
  .ty-dropdown-box__content{
    width:100%;
    padding:10px 15px;
    background:#e85471;
    top:40px;
    @media (max-width:767px) {
      top:60px;
    }
  }
}


.top-menu{
  padding-top:30px;
  @media(max-width:1680px){
    padding-top:20px;
  }
  @media(max-width:1365px){
    padding-top:15px;
  }
  @media(max-width:1279px){
    padding-top:10px;
  }
  @media(max-width:1023px){
    padding-top:18px;
  }
  @media(max-width:991px){
    padding-top:10px;
  }
  @media(max-width:767px){
    padding-top:0px;
   .ty-menu__menu-btn {
    padding-top:0px;
    position: absolute;
    left: 0px;
    top:20px;
    z-index: 50;
   }
  }
  @media(max-width:480px){
   .ty-menu__menu-btn {
    top:10px;
   }
  }
}

@media(max-width:767px){
  .top-menu .cm-responsive-menu{
    background:rgba(243, 243, 243, 0.9);
    position: absolute;
    width:100%;
    }

}



.sub_btn{
  padding-top:28px;
  @media(max-width:1680px){
    padding-top:15px;
  }
  @media(max-width:1365px){
    padding-top:12px;
  }
  @media(max-width:1279px){
    padding-top:6px;
  }
  @media(max-width:1023px){
    padding-top:0px;
  }
  
}


.login {
  padding-top:10px;
  .ty-btn{
    background:none;
    color:@sub_button;
    padding:0 10px;
    border-radius: 0;
    &:hover{
      text-decoration: underline;
    }
  }
  
}

.login{
  .ty-btn + .ty-btn{
    border-left:1px solid @sub_button;
    margin-left:0;
  }
}

.account{
  padding-top:3px;
  a{
    color:@sub_button;
    display: block;
    vertical-align: middle;
    &:hover{
      text-decoration: underline;
      color:@sub_button;
    }
    &:before{
      content:"";
      width:32px;
      height:32px;
      display:inline-block;
      line-height: 32px;
      text-align: center;
      color:#fff;
      padding-top:3px;
      vertical-align: middle;
      background: url(/images/companies/1/comm/menu-5.png) no-repeat;

    }
  }
}
.tygh-header{

 
}
.main_head{
  background: url(/images/companies/1/comm/header_bg.png) no-repeat center top;
  background-size: contain;
  min-height: 203px;
  position: absolute;
  width: 100%;
  z-index: 11;
  left:0;
  top:0;
  padding-top:20px;
  @media(max-width:1365px) {
    background-size:140%;
  }
  @media(max-width:1023px) {
    background-size:180%;
    padding-top:50px;
  
  }
  @media(max-width:991px) {
    background-size:250%;
    padding-top:50px;
  
  }
  @media(max-width:767px) {
    background-size:200%;
    padding-top:10px;
  
  }
  @media(max-width:480px) {
    background-size:1000px;
    padding-top:5px;
  
  }

}



.row-fluid  .menber_btn{
  width:250px;
  @media(max-width:1365px){
    width:224px;
  }
  @media(max-width:991px){
    width:244px;
    padding-left:20px;
    .ty-dropdown-box__content{
      left:0;
      right:auto;
      text-align: center;
      background:#fff;
      width:320px;
      top:35px;
    }
  }
  @media(max-width:767px){
    width:100%;
    position: fixed;
    bottom:0;
    left:0;
    background:#eee;
    z-index: 999;
    
  }

}
.row-fluid  .sub_icon{
  width:calc(100%~ "-" 250px);
  margin-left:0;
  @media(max-width:1365px){
    width:calc(100%~ "-" 224px);
  }
  @media(max-width:991px){
    width:calc(100%~ "-" 244px);
  }
  @media(max-width:767px){
    width:auto;
  }
}

.row-fluid  .top-logo-grid{
  width:24%;
  @media(max-width:1680px){
    width:20%;
    padding-left:18px;
  }
  @media(max-width:1365px){
    width:18%;
  }
  @media(max-width:1279px){
    padding-left:12px;
  }
  @media(max-width:1023px){
    width:23%;
  }
  @media(max-width:991px){
    width:25%;
  }
  @media(max-width:767px){
    width:100%;
    text-align:center;
    padding:0 15px;
    position: relative;
    z-index: 20;
  }

}

.ty-logo-container{
  text-align: right;
  @media(max-width:767px){
    text-align: center;
    margin:0 0 20px;
    img{
      height:55px;
      width:227px
    }
  }
  @media(max-width:767px){
    img{
      height:40px;
      width:165px
    }
  }
}

.row-fluid .top-menu-grid{
  width:46%;
  margin:0;
  padding:0  20px 0 40px ;
  @media(max-width:1680px){
    padding:0  20px;
  }
  @media(max-width:1365px){
    padding:0  5px;
    width:47%;
  }
  @media(max-width:1279px){
    padding:0  5px;
    width:49%;
  }
  @media(max-width:1023px){
    width:77%;
    padding:0 10px 0  40px;
  }
  @media(max-width:991px){
    width:75%;
    padding:0 10px ;
  }
  @media(max-width:767px){
    width:100%;
    padding:0 ;
  }
  
}

.row-fluid .sub_btn{
  width:30%;
  margin:0;
  @media(max-width:1680px){
    width:34%;
  }
  @media(max-width:1365px){
    width:35%;
  }
  @media(max-width:1279px){
    width:33%;
  }
  @media(max-width:1023px){
    width:100%;
    position: absolute;
    left:0; 
    top:0;
    border-bottom:1px solid #eee;
  }
  @media(max-width:767px){
    width:auto;
    position: static;
    border-bottom:0;
    .row-fluid {
      position: static;
      right:0;
      width: 50px;
      top:20px;
      z-index: 50;
     
    }
  }
  @media(max-width:480px){
    .row-fluid {
      top:10px;
    }
  }
}



// ============================================================ Main menu

.ty-menu__item {
  margin:0 2.2%;
  @media(max-width:1680px){
    margin:0 9px;
  }
  @media(max-width:1365px){
    margin:0 5px;
  }
  @media(max-width:1279px){
    margin:0 2px;
  }
  @media(max-width:1023px){
    margin:0 8px;
  }
  @media(max-width:767px){
    margin:0 15px;
    border-bottom:1px solid #fff;
  }
  .ty-menu__item-link {
    padding: 5px;
    font-family: @body_font;
    font-size: 15px;
    text-transform: uppercase;

  }
}

// ============================================================ Menu items

.ty-menu__submenu-item-header {
  border-color: @base;
}

// ============================================ Main Owl carousel banners

.homepage-banners {
  .owl-theme {
    margin: 0;

    .owl-controls {
      position: absolute;
      bottom: 0;
      width: 100%;

      .owl-page {
        span {
          margin: 9px 4px 9px 5px;
        }

        span.owl-numbers {
          padding: 1px 6px;
          .border-radius(0);
          border: 1px solid @top_panel_links;
          background: @top_panel_links;
          opacity: 1;
          filter: alpha(opacity=100);
        }

        &.active {
          span.owl-numbers {
            border-color: @secondary_button;
            background: spin(desaturate(darken(@top_panel_bg, 24%), 18%), 4);
          }
        }
      }
    }
  }
}


.index_banner_wrap{ 
  position: relative;
  .banner-down{
    position: absolute;
    left:0;
    bottom:-1px;
    
  }
  @media (max-width:1365px) {
    margin-top:50px;
    
  }
  @media (max-width:991px) {
    margin-top:80px;
    
  }
  @media (max-width:767px) {
    margin-top:40px;
    
  }
}




// ================================================= Multicolumns list

.ty-grid-list__item-name {
  text-decoration: none;
  width: auto;
  overflow: hidden;
  text-align: center;
  height: 45px;
  a{
    font-size: @body_font_size;
    color:#5c5c5c;
    transition: all 0.5s ease-in-out;
  }
  .product-title {
    line-height: 120%;
    color:#5c5c5c;
    &:hover {
      color: @secondary_button;
    }
  }
}

.ty-grid-list__price {
  margin-bottom:10px;
  text-align: center;
  .ty-price{
    color:#5c5c5c;
    .ty-price-num{
      font-size: @body_font_size + 10;
    }
  }
}

.ty-stars, .ty-stars__icon {
  font-size: @body_font_size + 2;
}


.pro_list{
  .ty-column4{
    @media (max-width:480px){
      border-bottom:1px dotted #eee;
      margin-bottom:30px;
      
    }
    .ty-quick-view-button__wrapper{
      text-align: center;
      transition: all 0.5s ease-in-out;
    }
    &:hover{
      .ty-quick-view-button__wrapper{
        box-shadow: #c3074e 0px 0px 10px;
      }
      .product-title{
        color: @secondary_button;
      }
    }
    .ty-pro_info{
      padding:0 10px;
    }
    
    
  }
}









// ==================================================== Featured Vendors
.ty-grid-vendors {
  .ty-grid-list__item-location {
    margin-bottom: 3px;

    .company-location {
      line-height: 120%;
      color: spin(desaturate(lighten(@font, 32%), 21%), -211);

      &:hover {
        color: @secondary_button;
      }
    }
  }
  .grid-list__rating .ty-discussion__review-quantity {
    line-height: 120%;
    color: spin(desaturate(lighten(@font, 32%), 21%), -211);

    &:hover {
      color: @secondary_button;
    }
  }
  .ty-grid-list__total-products .ty-company-total-products {
    line-height: 120%;
    color: spin(desaturate(lighten(@font, 32%), 21%), -211);

    &:hover {
      color: @secondary_button;
    }
  }
}

// ====================================================== Footer wrapper

.ty-footer-menu {
  * {
    font-size: @body_font_size - 1;
  }

  .ty-footer-general__header {
    font-weight: bold;
    text-transform: uppercase;
    color: spin(saturate(darken(@footer_text, 29%), 5%), 1);

    &, * {
      font-size: 16px;
    }

    @media screen and (max-width: 767px){
      padding-top: 15px;
    }
  }
}

.ty-footer-general__icon-open,
.ty-footer-general__icon-hide {
  color: @footer_text;
}

.ty-footer-general__body {
  line-height: 140%;
}

.ty-footer-general__body a:hover {
  color: @links;
}

@media (max-width: 767px) {
  .ty-footer-general__header {
    border-bottom: 1px solid lighten(@footer_text, 20%);
  }

  .ty-footer-general__icon-open,
  .ty-footer-general__icon-hide {
    color: #bfbfbf;
  }

  .ty-footer-general__body .ty-text-links__item,
  .ty-footer-general__body .ty-account-info__links li {
    border-bottom: 1px solid rgb(223, 223, 223);
  }
}

.ty-footer-menu__item {
  a:hover {
    color: @top_panel_links;
  }
}

// ======================================================== Footer contacts

.footer-contacts .greeny {
  color: @secondary_button;
}

.footer-contacts p,
.footer-contacts li {
  color: darken(@footer_text, 40%) !important;
}



// ====================================================== Extra classes

.tygh-header {
  > div {
    padding-top: 20px;
  }
}



.top-search {
  margin-top: 7px;
}

.top-cart-content {
  margin-top: 7px;
  margin: 7px 0;

  @media (max-width: 480px) {
    margin: 20px 0 5px 0;
  }
}

.top-menu-grid {
}

.homepage-hotdeals {
  margin: 50px 0;
}

.ty-mtb-s {
  a {
    color: @secondary_button;

    &:hover, &:active {
      color: @links;
    }
  }
}

.main-content-grid {
  margin-bottom: 16px;
}

a:hover {
  color: @secondary_button;
}

.ty-account-info__title {
  padding: 0px 3px;
}

.logged .ty-account-info__title,
.ty-dropdown-box__title a,
.ty-dropdown-box .ty-icon-down-micro,
.ty-select-block__a,
.ty-select-block__arrow {
  color: @top_panel_links;
}

.ty-dropdown-box {
  .ty-icon-down-micro {
    top: 3px;
    font-size: 15px;
  }
}

.ty-select-block__arrow {
  margin-left: 0px;
  line-height: 130%;
}

.top-languages, .top-currencies {
  .ty-select-block__a {
    color: #9eb2c0;

    &:hover, &.open, &.open:hover {
      color: #9eb2c0;
    }

    &.open, &.open:hover {
      .ty-select-block__arrow {
        color: @top_panel_links;
      }
    }
  }
}

.top-languages + .top-currencies {
  margin-left: 17px;
}

.ty-text-links__item:last-child{
  margin-right: 0;
}

.top-quick-pages {
  margin: 9px 4px 0px 0px;

  .ty-text-links {
    margin-right: 0;
  }
}

.top-quick-links {
  margin: 6px 4px 0px 0px;

  .ty-text-links__item {
    position: relative;

    a:hover {
      color: @secondary_button;
    }
  }

  .ty-quick-menu-item__points:before {
    color: @secondary_button;
  }

  .ty-quick-menu-item__gift:before {
    color: @primary_button;
  }
}

.ty-dropdown-box__title:hover,
.ty-dropdown-box__title.open {
  background: spin(desaturate(darken(@top_panel_bg, 7%), 14%), 2);
  color: @top_panel_links;

  *, a, i {
    color: #fff;
  }
}

.ty-dropdown-box__title.open {
  background: spin(desaturate(darken(@top_panel_bg, 24%), 18%), 4);
}

// ============================================================= Colors

.ty-red {
  color: #ff0000;
}
.ty-blue {
  color: #4d89c7;
}
.ty-blue-light {
  color: #00afff;
}
.ty-blue-light2 {
  color: #009cff;
}

// =============================================================== Text

.ty-underline, .ty-exception__links-a {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}


// ========================================================= Main menu

.ty-menu__item .ty-menu__item-link {
  font-size: 24px;
  color:#000;
  @media(max-width:1680px){
    font-size:20px;
  }
  @media(max-width:1365px){
    font-size:18px;
  }
  @media(max-width:767px){
    font-size:20px;
  }
}

.ty-menu__submenu .ty-menu__submenu-items .ty-menu__submenu-item-active a:hover{
  color: #000;
  background:none;
}
@media(max-width:767px){
  .ty-menu__item-toggle{
    color:#c3074e;
  }
}

// ================================================== Top search block

input.ty-search-block__input{
}

.cm-hint {
  color: lighten(@font, 40%);
}

// ============================================================ Blocks

.ty-mainbox-title{
  font-size: 22px;
}

// ====================================================== Owl carousel
// ============================================================= (0<0)

.owl-carousel .owl-carousel {
  z-index: 0;
}

.owl-carousel.owl-theme {
  .owl-controls {
    margin-top: 0;

    .owl-buttons {
      div{
        margin: 5px 9px 5px 8px;
        padding: 0;
        background: none;
        font-family: @body_font;
        font-size: @body_font_size - 3;
        text-transform: lowercase;
        color: spin(desaturate(lighten(@font, 32%), 21%), -211);
      }

      .owl-prev:after {
        content: "\e01a";
        font-family: 'glyphs';
        display: inline-block;
        height: 27px;
        width: 15px;
        line-height: 28px;
        margin-left: 7px;
        border: 1px solid @base;
      }

      .owl-next:before {
        content: "\e01b";
        font-family: 'glyphs';
        display: inline-block;
        height: 27px;
        width: 15px;
        line-height: 28px;
        margin-right: 7px;
        border: 1px solid @base;
      }

      div {
        &:hover {
          &:after, &:before {
            border-color: @secondary_button;
          }
        }
      }
    }
  }
}

.ty-scroller-advanced .ty-scroller-list__item {
  .owl-buttons {
    .owl-prev:after {
      display: none !important;
    }

    .owl-next:before {
      display: none !important;
    }
  }
}

// ======================================================== News block

.ty-news-sidebox__item {
  border-bottom: none;
  padding-bottom: 5px;
}

.ty-news-sidebox__item-date {
  display: inline-block;
  padding-right: 20px;
}

.ty-news-text-links__date {
  border-color: @base;
  color: spin(desaturate(lighten(@font, 32%), 21%), -211);
}

.ty-news-sidebox__button{
  padding: 0;
  background: none;
  color: @secondary_button;
  font-size: 13px;

  &:hover{
    color: @secondary_button;
  }
}

// ================================================ Testimonials block

.testimonials-block{
  .discussion-testimonial-post{
    padding-bottom: 10px;
  }

  .discussion-testimonial-post + .ty-right {
    text-align: left;

    a{
      color: @secondary_button;
    }
  }
}

.ty-stars,
.ty-stars__icon,
.ty-rating{
  color: @discount_label;
}

// ==================================================== Stay connected
.ty-wysiwyg-content{
  position: relative;
}
.foot-service-pic ,
.foot-service-info{
  display: inline-block;
  vertical-align: middle;
  color:#000;

}
.foot-service-info{
  text-align: left;
}

.footer-stay-connected{
  background:#fff2f4;
  position: relative;
  text-align: center;
  a{
    color:#000;
  }
}

.footer-stay-connected{
  .container-fluid{
    padding:0;
  }
}

.goto_top{
  position: absolute;
  right:0;
  top:-20px;
  cursor: pointer;
  @media (max-width:991px) {
    top:auto;
    bottom:0;
    
  }
}

// =================================== Subscribe fees invitation block

.subscribe-fees{
  margin: 14px 0;

  .ty-wysiwyg-content{
    padding-left: 55px;
    .box-sizing(border-box);
    position: relative;

    &:before{
      content: "\e02f";
      font-family: 'glyphs';
      position: absolute;
      top: 50%;
      left: 0;
      height: 30px;
      margin: -15px 0 0;
      color: white;
      font-size: 3em;
    }
  }

  h3{
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 14px;
    margin-bottom: 6px;
  }

  p{
    color: white;
    padding: 0;
    line-height: 1.5em;
  }
}

// ======================================================== Discussion

.ty-discussion-post__author, .ty-discussion-post__date, .ty-discussion-post__message {
  font-size: @body_font_size - 1;
}

.ty-discussion-post__message {
  line-height: 120%;
}

.ty-discussion-post {
  border-color: @base;
}

// ====================================================== Social links

h3.ty-social-link__title{
  font-size: 16px;
  font-family: @headings_font;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 38px;
}

@media screen and (max-width: 767px){

  h3.ty-social-link__title{
    margin-top: 0;
  }
}

// ====================================================== Footer menus

.tygh-footer{
  .ty-mainbox-title{
    color: #465f73;
  }
}

// ================================================== Footer copyright

.bottom-copyright {
  font-size: @body_font_size - 1;
}

// =========================================================== Buttons

.ty-btn {
  border-radius: 5px;
  padding: 6px 7px;
  text-transform: uppercase;

  &.ty-btn__text {
    padding: 0;
    color: #000000;
  }
}

.ty-btn-go {
  box-sizing: border-box;
}

// ===================================================== Products list

.ty-price-num{
  font-size: 16px;
}

// ============================================================== Tabs

.ty-tabs__item{
  background: #c8d7e6;
}

.ty-tabs__item.active{
  background: #6d90b3;
}

.ty-tabs__item .ty-tabs__a{
  color: #56718c;
}

.ty-tabs__item.active .ty-tabs__a{
  color: #fff;
}

// ========================================================= Accordion

.ty-accordion .ui-accordion-header {
  color: @secondary_button;
  background: #dadada;

  &.ui-state-active {
      background: @secondary_button;
      color: white;
  }
}

// ===================================================== Products page

.ty-sort-dropdown__content{
  li{
    padding: 0;
  }
}

.ty-sort-container__views-a.active:hover{
  color:#fff;
}

@media screen and (max-width: 700px){
  .some_class{
    margin-left: 13px;
  }
}
.ty-sort-container{
  background:#fff;
  border-top:1px solid rgba(0,0,0,0.2);
  border-bottom:1px solid rgba(0,0,0,0.2);
  padding-left:0;
  text-align: left;
}
.ty-sort-container__views-a{
  width:37px;
  height:37px;
  color:#666;
  padding:10px;
  &.active{
    background:@secondary_button;
    color:#fff
  }
}
.ty-sort-dropdown__wrapper{
  &:hover{
    background:rgba(230, 230, 230, 0.8);

  }
  &.open{
    background:#e8e8e8;
    color:@secondary_button;
  }
}

.ty-product-list__info{
  text-align:left;
}

// ========================================================== Checkout

.ty-step__title-active{
  background: #73b4e5;
}

.ty-step__title-arrow,
.ty-step__title .ty-step__title-txt,
.ty-step__title-complete .ty-step__title-txt,
.ty-step__title-complete .ty-step__title-left,
.ty-step__container-active .ty-step__title-left{
  color: #73b4e5;
}

.ty-step__title-left{
  color: white;
  background: #73b4e5;
}

.ty-step__title-complete .ty-step__title-right .ty-btn{
  background: transparent;
  color: @secondary_button;
}

// ======================================================== Small staf

.ui-widget-header .ui-icon-closethick{
  color: darken(@base, 30%);
}

.ty-wysiwyg-content {
  h1 {
    &.ty-main-title {
      // color: #575d66 !important;
      color: #040404 !important;
    }

    &.ty-main-title2 {
      color: #040404 !important;
    }
  }

  h3 {
    font-weight: 500;
    line-height:200%;
    &.ty-main-title2 {
      color: #040404 !important;
    }
  }
}

// ===================================================== Call requests

.ty-cr-phone-number-link {

  .ty-cr-link {

    a {
      font-size: 12px;
      color: @secondary_button !important;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .ty-cr-phone {
    font-size: 19px;
    color: @font !important;
  }

  .ty-cr-phone-prefix {
    color: lighten(@font, 30%);
  }

  .ty-cr-work {
    display: inline-block;
    padding-top: 5px;
    color: spin(desaturate(lighten(@font, 32%), 21%), -211) !important;
  }

  .ty-cr-work-hours {
    color: lighten(@font, 30%);
  }
}

// ========================================================= Call requests

.ty-cr-content-grid {
  margin-top: 3px;
  .clearfix();
}

.ty-cr-phone-number-link {
  margin: 0;
  text-align: left;

  * {
    font-family: @body_font;
  }

  @media screen and (max-width: 767px) {
    margin: 0 auto 15px;
    max-width: 100%;
    padding: 0;
  }

  .ty-cr-link {
    float: left;
    margin-right: -110px;

    @media screen and (max-width: 767px){
      float: none;
      width: 100%;
      margin-right: 0;
    }
  }

  .ty-cr-phone {
    font-size: 19px;
  }

  .ty-cr-phone-prefix {
    font-weight: normal;
  }

  .ty-cr-work {
    margin-left: 5px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    vertical-align: top;
  }

  .ty-cr-work-hours {
    padding-top: 4px;
    font-size: 11px;
    color: lighten(@font, 30%);
  }
}

@media (max-width: 1100px) {
  .ty-cr-phone-number-link > span.ty-cr-work {
    font-size: 10px;
    margin-left: 0px;
  }
}

@media (max-width: 767px) {
  .ty-cr-content-grid .ty-cr-phone-number-link {
    float: none;
    margin: 0 0 20px 0;
    text-align: center;
  }
  .ty-top-grid_float{
    float:left !important;
    width:auto !important;
    }
}

@media (min-width: 768px) and (max-width: 820px) {

  .ty-cr-content-grid {
    margin-top: 0px;
  }

  .ty-cr-phone-number-link span.ty-cr-work {
    display: block;
  }

  .ty-cr-phone-number-link .ty-cr-link {
    margin-top: -2px;
  }

}


/*GFONTS*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/s/opensans/v10/RjgO7rYTmqiVp7vzi-Q5UfY6323mHUZFJMgTvxaG2iE.eot);
  src: local('Open Sans'), local('OpenSans'), url(//fonts.gstatic.com/s/opensans/v10/RjgO7rYTmqiVp7vzi-Q5UfY6323mHUZFJMgTvxaG2iE.eot) format('embedded-opentype'), url(//fonts.gstatic.com/s/opensans/v10/RjgO7rYTmqiVp7vzi-Q5UT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/s/ptsans/v8/HxndcvKFXWMbmSKW3biIqQ.eot);
  src: local('PT Sans'), local('PTSans-Regular'), url(//fonts.gstatic.com/s/ptsans/v8/HxndcvKFXWMbmSKW3biIqQ.eot) format('embedded-opentype'), url(//fonts.gstatic.com/s/ptsans/v8/yrzXiAvgeQQdopyG8QSg8Q.woff) format('woff');
}

/*/GFONTS*/

.ty-wysiwyg-content .ty-cr-phone-number-link {
  padding-left: 0;
}

.top-logo {
  margin-top: 3px;
}

.ty-search-magnifier {
  text-align:center;
  background: #fff;
  color: #000;
  border:1px solid darken(@base, 15%);
  border-left:0;
  width: 35px;
}


/* Widget */

.widget.top-cart-content {
  background: none;
  margin: 0;

  .ty-minicart-title__header {
    display: none;
  }

  .ty-dropdown-box {
    display: block;
  }

  .ty-dropdown-box__title {
    padding: 0 13px 0 35px;
    border-width: 0;

    i {
      margin-left: 0;
    }

    .ty-minicart__icon {
      background: none;
      top: 0;
      left: 0;
      bottom: 0;
      width: 25px;
      height: 25px;
      margin-left: 0;
      line-height: 32px;
      color: gray;
      text-align: center;
      font-size: 14px;

      &:hover {
        background: none;
      }

      &.empty {
        background: none;
      }
    }
  }

  .ty-dropdown-box__title{
    height: 34px;
    padding-left: 25px;
    padding-top: 2px;
  }

  .ty-dropdown-box__title.open .ty-minicart-title {
    color: @font;
    height: 34px;
  }

  .ty-icon-down-micro {
    color: @secondary_button;
    padding-left: 10px;

    &:before {
      content: "\e019";
      font-size: 1.2em;
    }
  }

  .ty-dropdown-box__title:hover,
  .ty-dropdown-box__title.open {
    background:  spin(desaturate(darken(@top_panel_bg, 7%), 14%), 2);

    .ty-icon-down-micro {
      color: @secondary_button;
    }
  }

}

.widget.top-my-account {

}

.widget.top-currencies {
  margin-left: 0;
}

.widget {
  .ty-select-block__arrow {
    line-height: 100%;
  }
}

// Phones only
@media (max-width: 767px) {
  .footer-menu-shop .ty-text-links-btn { display: none !important; }
  .footer-menu-create-orders .ty-text-links-btn { display: none !important; }
}

// ==========================================================================
// Glyph icons
// ==========================================================================

@font-face {
    font-family: 'icomoon';
    src:url('../media/fonts/icomoon.eot');
    src:url('../media/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../media/fonts/icomoon.woff') format('woff'),
    url('../media/fonts/icomoon.ttf') format('truetype'),
    url('../media/fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Reset font-family for before */
[class*="ty-icon-"]:before {
  font-family: inherit;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below,
but it's slower:
[class*="ty-icon-"] {
*/
.ty-quick-menu-item__points:before,
.ty-quick-menu-item__gift:before,
.ty-icon-moon-facebook,
.ty-icon-moon-twitter,
.ty-icon-moon-mail,
.ty-icon-moon-vk,
.ty-icon-moon-heart,
.ty-icon-moon-percent,
.ty-icon-moon-user,
.ty-icon-moon-commerce {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.ty-icon-moon-commerce:before {
  content: "\e900";
}

.ty-icon-moon-facebook:before {
  content: "\e169";
}

.ty-icon-moon-twitter:before {
  content: "\e16d";
}

.ty-icon-moon-user:before {
  content: "\e600";
}

.ty-icon-moon-mail:before {
  content: "\e601";
}

.ty-icon-moon-vk:before {
  content: "\e602";
}

.ty-icon-moon-heart:before {
  content: "\e603";
}

.ty-icon-moon-percent:before {
  content: "\e604";
}

// ====================================================== Extra classes

.ty-quick-menu-item__points:before {
    content: "\e604";
}

.ty-quick-menu-item__gift:before {
    content: "\e603";
}

// =========================================================== Social links

.ty-social-link {
  vertical-align: middle;

  [class*="ty-icon-moon-"] {
    margin-right: 8px;
    padding: 5px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    font-size: 18px;

    &:hover {
      color: #ffffff;
      border-color: @subscribe_button;
    }
  }

  .ty-icon-moon-vk {
    padding: 8px;
    font-size: 12px;
  }

  &:last-child {
    i {
      margin-right: 0;
    }
  }
}

.ty-social-link-block {
  margin: 25px 15px 25px 0;

  @media screen and (max-width: 1120px) {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 22px;
    text-align: center;
  }
}

h3.ty-social-link__title {
  font-size: 16px !important;
  font-family: @headings_font;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 38px;

  @media screen and (max-width: 979px) {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px){
  h3.ty-social-link__title{
    margin-top: 0;
  }
}

.ty-social-link {
  top: 0;
  margin-right: 0;
}

/* ==========================================================================
Banners
========================================================================== */

.ty-banners-free-ship {

  margin-top: 25px;

  .ty-banner__image-wrapper {
    margin: 0;
  }

}

.ty-banners-pickup {
  margin-top: 5.5%;
  margin-bottom: 23px;

  .ty-banner__image-wrapper {
    margin: 0;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
    .ty-banners-free-ship,
    .ty-banners-pickup {
      width: 48.5%;
      margin-top: 0px;
      float: left;
    }

    .ty-banners-pickup {

    }

    .ty-banners-free-ship {
      margin-right: 3%;

    }
}

// ======================================================== Discussion

.ty-discussion-post__content {
  margin-top: 18px;
}

.ty-discussion-post__author {
  margin-left: 0;
}

.ty-discussion-post__author, .ty-discussion-post__date, .ty-discussion-post__message {
  margin-left: 0;
}

.homepage-reviews {
  .ty-discussion-post {
    margin: 22px 0 26px 0;
  }
}

.ty-discussion-post {
  padding: 12px 15px 17px;
}

.ty-caret {
  left: 20px;
}

// ======================================== Newsletter subscription form (advanced)

.ty-footer-form-block {
  margin-top: 25px;
  .ty-footer-form-block__title {
    font-size: 16px !important;
    font-family: @headings_font;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 38px;
  }
  &.ty-footer-newsletters-block {
    margin-top: 14px;
    margin-bottom: 7px;
    .ty-footer-form-block__title {
      display: none;
    }
  }
}

@media screen and (max-width: 1120px){
  .footer-stay-connected {
    .ty-grid {
      width: 100%;
      margin-left: 0;

      .ty-float-left {
        float: none;
      }

      .ty-footer-form-block {
        text-align: center;
        margin-top: 12px;
        margin-bottom: 12px;
        .ty-footer-form-block__title {
          margin-bottom: 3px;
        }
      }
    }
  }
}

form[name="subscribe_form"] {
  .ty-footer-form-block__form {
    width: auto;
    display: inline-block;
    vertical-align: top;

    h1, h2, h3, h4, h5, h6 {
      margin: 0;
    }

    .ty-block {
      font-size: @body_font_size - 1;
      line-height: 120%;
      text-transform: none;
    }

    h3 {
      font-size: 16px;
      font-family: @body_font;
      line-height: normal;

      .ty-block {
        margin-top: 5px;
        font-weight: normal;
      }
    }

    &.with-side {
      position: relative;
      padding-left: @with_side_icon_font_size + 19;
      padding-right: 2%;
      width: 36.5%;
      text-align: left !important;

      i {
        position: absolute;
        left: 0;
        top: 0;
        font-size: @with_side_icon_font_size;
      }

      @media screen and (max-width: 960px){
        display: block;
        margin-right: auto !important;
        margin-left: auto !important;
        padding-right: 0;
      }

      @media screen and (max-width: 700px){
        width: 70%;
      }
    }

    + .ty-footer-form-block__form {
      width: 53.5%;

      @media screen and (max-width: 960px){
        display: block;
        margin-right: auto !important;
        margin-left: auto !important;
        width: 53.5%;
      }

      @media screen and (max-width: 766px){
        width: 85%;
      }

      @media screen and (max-width: 600px){
        width: 100%;
      }
    }

    input[type="text"] {
        height: 36px;
        width: 100%;
        color: @font;
        font-size: 12px;

        .cm-hint {
          color: spin(desaturate(lighten(@font, 32%), 21%), -211);
        }

        & + .ty-btn-go {
          height: 34px;
          .ty-btn-go__icon {
            top: 7px;
          }
        }
    }

    > div {
      vertical-align: top;
      display: inline-block;
    }

    .ty-footer-form-block__input {
      margin-top: 12px;
      width: 60%;
    }

    .ty-footer-form-block__button {
      margin-top: 12px;
    }

    .ty-btn {
      padding: @subscribe_button_padding;
      font-size: @subscribe_button_size;
      text-transform: uppercase;
      line-height: 140%;
      margin-left: -0.25em;
    }
  }
}

.ty-btn__subscribe {
  background: @subscribe_button;
  color: #fff;
}
.ty-btn__subscribe:hover {
  color: #fff;
}
.ty-btn__subscribe.ty-btn__text {
  color: @subscribe_button;
}

/* ==========================================================================
Smarty blocks
========================================================================== */


@media (max-width: 480px) {

  .top-menu-grid {
    padding-top: 15px;
  }

  .top-cart-content {

      width: 100%;

      margin: 0px 0px;
      margin-top: 15px;

      .ty-dropdown-box {
        text-align: center;
      }

      .ty-block {
        text-align: left;
      }
  }

}

@media (min-width: 480px) and (max-width: 667px){

  .row-fluid div.search-block-grid {
    width: 60%;
    float: left;
  }

  .top-search {
    margin-right: 2%;
  }

  .row-fluid div.cart-content-grid {
    width: 39%;
    float: left;
    margin-top: 7px;
  }

  .top-cart-content {
    float: left;
    margin: 0px 0px;
  }

  .top-menu-grid {
    padding-top: 20px;
  }
}

@media (min-width: 667px) and (max-width: 767px){

  .top-menu-grid {
    padding-top: 20px;
  }

  .row-fluid div.search-block-grid {
    width: 70%;
    float: left;
  }

  .top-search {
    margin-right: 2%;
  }

  .row-fluid div.cart-content-grid {
    width: 29%;
    float: left;
    margin-top: 7px;
  }

  .top-cart-content {
    float: left;
    margin: 0px 0px;
  }

}


// ========================================================= Scroller advanced

.owl-carousel.ty-scroller-list.grid-list {
  padding: 0;
  border-width: 0;
  background: none transparent;
  .border-radius(0);

  .owl-wrapper-outer {
    background: none transparent;
   
  }
}

.ty-scroller-advanced {
  .owl-theme {
    margin: 0 0 10px 0;

    .owl-wrapper-outer {
      padding: 10px 0;
    }
  }
}

.owl-theme {
  .owl-controls {
    margin-top: 0;
  }

  .ty-scroller-list__item.ty-column4 {
    display: block;
    width: auto;
  }

  .ty-grid-list__item {
    .owl-controls {
      height: 0;

      .owl-buttons {
        height: 0;

        div {
          padding: 0;
          margin: 0;
          color: @font;
          filter: alpha(opacity=100);
          opacity: 1;
          background: none;
        }

        .owl-prev:after, .owl-next:before {
          display: none;
        }
      }
    }
  }
}

.ty-grid-list__item {
  .owl-wrapper-outer {
    padding: 0;
  }
}

.homepage-banners {
  margin-top:0;
  .owl-theme {
    .owl-wrapper-outer {
      padding: 0;
    }
  }
}

.mainbox-container {
  .owl-theme {
    margin-top: -10px;
  }
}

.ty-scroller-advanced .ty-grid-list__item {
  margin: 0px 10px 1px 10px;
}

.ty-scroller-advanced .ty-scroller-list__item .ty-quick-view-button,
.ty-scroller-advanced .ty-scroller-list__item:hover .ty-quick-view-button {
  text-align: left;
}

.ty-quick-view-button {
  z-index: 1;
}

.ty-scroller-advanced .ty-scroller-list__item {
  padding-top: 0px;
}

.ty-scroller-advanced .owl-wrapper-outer {
  padding-top: 0px;
}



// ============================================================== News

.ty-news-text-links {
  padding-left: 12px;
  margin: 30px 0 29px;
}

.ty-news-text-links__item {
  margin-bottom: 16px;
}

.ty-news-text-links__date {
  padding: 0px 1px;
  margin-right: 5px;
}

.ty-news-text-links__a {
  padding-top: 1px;
}




// ====================================================== Footer menus

@media screen and (min-width: 767px) {
  .ty-footer-menu {
    padding:0;
  }
}

.tygh-footer {
  .ty-mainbox-title{
    font-size: 16px;
    padding: 6px 0;
    margin: 0;
  }

  .ty-mainbox-body{
    .ty-text-links{
      margin-top: 10px;
    }

    .ty-text-links__item{
      padding: 2px 0;
      margin: 0 0 8px;
      line-height: 1.4;

      a{
        color: @footer_text;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .ty-footer-menu__items {
    display: block !important;
  }
}

// ============================================================== Variables

@promo_container_bg_color: #00afff;
@promo_container_bg_color__secondary: #ffe400;
@with_side_icon_font_size: 36px;
@subscribe_button_size: 16px;
@subscribe_button_padding: 6px 15px 5.5px 15px;
@subscribe_button: @secondary_button;

// ========================================================= Payments icons

.ty-payment-icons {
  margin: 6px 0;
}

.ty-payment-rus-icons .ty-payment-icons__item {
  background: url('../../media/images/icons/russian_payments.png') no-repeat;

  &.webmoney {
    background-position: 0px -67px;
    width: 86px;
  }

  &.yandex {
    background-position: 0px -128px;
    width: 60px;
  }

  &.qiwi {
    background-position: 0px -97px;
    width: 84px;
  }

  &.mastercard {
    background-position: 0px -35px;
    width: 40px;
  }

  &.visa {
    background-position: 0px 0px;
    width: 40px;
  }

  &.paypal {
    background-position: 0px -160px;
  }
}

/* ==========================================================================
Global
========================================================================== */

.ty-discussion-post__content .ty-discussion-post {
  margin: 16px 0 30px 0;
}


/* ==========================================================================
Banners
========================================================================== */

.ty-banners-free-ship {

  margin-top: 25px;

  .ty-banner__image-wrapper {
    margin: 0;
  }

}

.ty-banners-pickup {
  margin-top: 5.5%;
  margin-bottom: 23px;

  .ty-banner__image-wrapper {
    margin: 0;
  }
}

  @media (min-width: 481px) and (max-width: 767px) {
      .ty-banners-free-ship,
      .ty-banners-pickup {
        width: 48.5%;
        margin-top: 0px;
        float: left;
      }

      .ty-banners-pickup {

      }

      .ty-banners-free-ship {
        margin-right: 3%;

      }
  }


/* Footer contacts
   ========================================================================== */

.footer-contacts p,
.footer-contacts li {
    color: darken(@footer_text, 40%);
}



/* Content pages: About company
   ========================================================================== */


.ty-list-container {
  @media (max-width: 980px) {
    .ty-page-company__info-block {
      padding-top: 30px;
    }
  }
}


/* Content pages: Menu items
   ========================================================================== */

.ty-menu-item__sale .ty-menu__item-link {
  color: #FE7400 !important;
  font-weight: bold;
}

.ty-menu-item__products {
    @media (min-width: 1151px) {
        display: none !important;
    }
}

.ty-menu-rounded() when (@rounded_corners = true) {
  .ty-menu__item:nth-child(3) .ty-menu__item-link {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
}

/* .ty-menu-item__electronics, */
.ty-menu-item__sport,
.ty-menu-item__office,
{
    @media (min-width: 768px) and (max-width: 1150px) {
        display: none !important;
    }
}

.ty-menu-item__media,
{
    @media (max-width: 930px) {
        display: none !important;
    }
}

.ty-menu-item__apparel,
{
    @media (max-width: 795px) {
        display: none !important;
    }
}


// ======================================================= Quick menu items

.ty-quick-menu-item__bonuses {
  @media (min-width: 900px) {
    display: none !important;
  }
}

.ty-quick-menu-item__points,
.ty-quick-menu-item__gift {
  @media (max-width: 900px) {
    display: none !important;
  }
}


.ty-quick-menu-item__place-order {
  @media (min-width: 1166px) {
    display: none !important;
  }
}

.ty-quick-menu__return,
.ty-quick-menu__contacts,
.ty-quick-menu__delivery,
.ty-quick-menu__pickup {
  @media (max-width: 1167px) {
    display: none !important;
  }
}

.ty-text-links_show_inline .ty-level-0:hover .ty-text-links {
  min-width: 170px;
}

// ====================================================== Footer wrapper
.ty-text-links-wrapper{
  text-align: center;
  @media (max-width: 767px){
    border:0;
  }
}

.ty-footer-menu {
  
  .ty-footer-general__header {
    position: relative;
    margin: 0;
    padding-top: 2px;

    @media screen and (max-width: 767px){
      padding-top: 15px;
    }
  }
  @media (max-width: 767px){
    .ty-text-links-btn{
      display:none !important;

    }
    .ty-text-links_show_inline{
      display: block;
      position: static;
      background:none;
      border:0;
      padding:0;
      .ty-text-links__item{
        display: inline-block;
      }
    }
    .container-fluid{
      padding:0;
    }
    
  }
}




.ty-footer-menu{
  display: inline-block;
  text-align: center;
  .ty-text-links{
    margin:0;
  }
}

.ty-footer-general__icon-open,
.ty-footer-general__icon-hide {
  display: none;
  color: @footer_text;
}

.ty-footer-general__body {
  margin: 0;
  margin-top: 8px;
  padding-bottom: 43px;
}

.ty-footer-general__body li {
  margin-bottom: 6px;
}

@media (max-width: 767px) {
  .ty-footer-general__header {
    padding: 15px 30px 15px 0;
  }

  .ty-footer-general__icon-open,
  .ty-footer-general__icon-hide {
    position: absolute;
    top: 12px;
    right: 0;
    font-size: 40px;
    cursor: pointer;
  }

  .ty-footer-general__icon-open {
    display: block;
  }

  .ty-footer-general__header.open .ty-footer-general__icon-hide {
    display: block;
  }

  .ty-footer-general__header.open .ty-footer-general__icon-open {
    display: none;
  }

  .ty-footer-general__body {
    margin-top: 0;
    padding-bottom: 0px;
    display: none;
  }

  .ty-footer-general__body .ty-text-links__item,
  .ty-footer-general__body .ty-account-info__links li {
    padding: 15px 0px 15px 0px;
    padding-left: 20px;
  }

  .footer-contacts li {
    padding-left: 20px;
  }
}

.ty-text-links__item {
  margin-right: 11px;
}

@media (min-width: 768px) and (max-width: 979px) {
  .ty-footer-general__body {
    display: block !important;
  }
}

@media (min-width: 1224px) {
  .ty-footer-general__body {
    display: block !important;
  }
}

.bottom-copyright {
  margin-top: 0;
  :hover{
    color:#c3074e;
  }
}

.ty-discount-label {
  z-index: 20;
  -webkit-transform: translate3d(0,0,0);
}

.ty-product-block__button .ty-btn {
  margin-right: 15px;
}

.ty-product-block__button .button-container {
  z-index: 1;
}

.ty-text-links-wrapper{
  .ty-text-links__item a{
    padding:15px;
    display: block;
    transition: all 0.5s ease-in-out;
    @media (max-width:767px) {
      padding:15px 2px;
    }
    &:before{
      content: "";
      display: block;
      height: 51px;
      width: 51px;
      margin: auto;
      transition: all 0.5s ease-in-out;
    }
  }
}
.ty-text-links__item{
  &:hover{
    a{
      color:#F26A8D;
      &:before{
        opacity: 0.5;
      }
    }
  }
}


li.edm>a:before{ 
  background:url(/images/companies/1/comm/foot-icon-2.png?1548657690939) no-repeat;
}
li.contact>a:before{ 
  background:url(/images/companies/1/comm/foot-icon-3.png?1548657690939) no-repeat;
}
li.qa>a:before{ 
  background:url(/images/companies/1/comm/foot-icon-4.png?1548657690939) no-repeat;
}
li.sale_zone>a:before{ 
  background:url(/images/companies/1/comm/foot-icon-5.png?1548657690939) no-repeat;
}


// gt_customizations =============================================================
.ty-no-paperbag{
  color:#ff0000;
}
.ty-strike{
  color:#999;font-size:.8em;
}

#buy_together{
  color:red !important;
  font-size:24px;
  font-weight:bold;
}
.ty-features-list{
  color:#ff0000;
  font-weight:bold;
}
.ty-billing-city, .ty-billing-zip-code, .ty-shipping-city, .ty-shipping-zip-code{
  display: inline-block;
  width: 47%;
}
.ty-billing-city + .ty-billing-zip-code, .ty-shipping-city + .ty-shipping-zip-code, .ty-billing-country + .ty-billing-zip-code, .ty-shipping-country + .ty-shipping-zip-code{
  margin-left: 4.8%;
}
.ty-order-info__profile-field .b-city, .ty-order-info__profile-field .s-city{
  clear: left;
}

input.ty-shipping-options__checkbox{
  margin: 4px 0 0 0;
  vertical-align:top;
}

.ty-product-bigpicture {
  .ty-product-block-title {
    font-size: 28px;
  }
}

.ty-product-filters__advanced-button, .ty-product-filters__reset-button {
  color: #566d85;
  font-size: 50%;
}

.ty-sidebox__title-wrapper{
  font-size: @sidebox_title_font_size;
}

.ty-sidebox__title{
  span, a{
    font-size: @sidebox_title_font_size;
  }
}

.ty-checkout__title {
  font-size: @headings_font_size;
}

.ui-widget {
  input, select, textarea, button{
    font-family: @body_font;
    font-size: 1em;
  }
}

.ui-datepicker {
  table {
    font-family: @body_font;
    font-size: .9em;
  }
}

.ty-payments-list {
  float: none;
  margin: 0;
  padding-right: 60px;
}

.ty-payments-list__item-group {
  padding-left: 20px;
  color: #000000;
  font-size: 21px;
}

.ty-payments-list__checkbox:checked + .ty-payments-list__item-group {
  font-weight: bold;
  font-size: 22px;
}

.ty-payments-list__image {
  max-width: 360px;
}

.alert-success {
  border-color: #bb9730;
  background: #ffd850eb;
  color: #496e16;
}

h1{
  &.ty-mainbox-title{
    text-shadow:rgba(0, 0, 0, .3) 1px 1px;
    font-size:@body_font_size + 20;
    font-weight: normal;
    text-align: center;
    text-shadow: 0 0 0 rgba(0,0,0,0);
    @media (max-width:767px) {
      font-size:@body_font_size + 12;
    }
  }
}

.ty-menu__submenu-item{
  font-size:24px;
}


.index-content-grid{
  width:100%;
  max-width: none;
}



.index_wrap {
  .all_pro_cate{
    display: none;
  }
}



//=============================================== index_hot

.index_content{
  &:before{
    content: "";

  }
}

.hot_tit{
  .line {
    font-size: 48px;
    color: #e4007f;
    border-bottom: 3px solid;
    letter-spacing: 6px;
    padding: 3px 12px;
    vertical-align: top;
    @media (max-width:480px){
      font-size: 30px;
      letter-spacing: inherit;
      + img{
        max-height: 40px;
        margin-left:3px;
      }
      
    }
  }
}

.index-content-grid{
  padding:0;
}
.index_hot_area{
  position: relative;
  margin-top:50px;
}
.index_hot_area{
  &:before{
    content: "";
    background: url(/images/companies/1/index_pic/idxpro_bg-left.png?1548670531877) no-repeat;
    height: 119px;
    left: 0;
    position: absolute;
    top: 50px;
    width: 231px;
    @media (max-width:480px) {
      background-size: 140px;
      width: 140px;
    }
  }
  
}

.index_hot_area{
  &:after{
    content: "";
    background: url(/images/companies/1/index_pic/idxpro_bg-right.png?1548671044807) no-repeat;
    height: 175px;
    right: 0;
    position: absolute;
    bottom: 0;
    width: 258px;
    z-index: 1;
    @media (max-width:480px) {
      background-size: 140px;
      width: 140px;
    }
  }
  
}



.index-content-grid .row-fluid .container-fluid{
  margin:0 auto;
  float:none;
  position: relative;
  z-index: 3;
}


.ty-grid-list__image{
  border:0;
  padding:0;
}
.homepage-hotdeals{
  position: relative;
  @media (max-width:1279px) {
    width:90%;
    margin:50px auto;
  }
  .owl-prev , .owl-next{
    position: absolute;
    left:-100px;
    top:50%;
    font-size: 0;
    color:#fff;
    @media (max-width:1365px) {
      left:-25px;
    }
    
  }
  .owl-next{
    right:-100px;
    left: auto;
    @media (max-width:1365px) {
      right:-25px;
    }
    
  }
}

.homepage-hotdeals .owl-carousel.owl-theme .owl-controls .owl-buttons div{
  color:#fff;
  font-size: 0;
  margin:0
}
.homepage-hotdeals  .owl-theme .owl-controls .owl-buttons div{
  opacity: 1;
}
.homepage-hotdeals .owl-carousel.owl-theme .owl-controls .owl-buttons .owl-next:before{
  background: url(/images/companies/1/index_pic/button-next.png?1548672032897) no-repeat 0;
  content:"";
  width:42px;
  height:42px;
  border:0;
}
.owl-carousel.owl-theme .owl-controls .owl-buttons .owl-prev:after{
  background: url(/images/companies/1/index_pic/button-previous.png?1548672163305) no-repeat 0;
  content:"";
  width:42px;
  height:42px;
  border:0;
}

.mt-25{
  margin-top:25px;
}
//==============================================================================================================index_video

.index_news_video{
  background: url(/images/companies/1/index_pic/idx-news_bg.png?1548728284752) left top no-repeat;
  padding:65px 0 90px;
  background-size: 100%;
  @media (max-width:1680px) {
    padding-top: 80px;
    padding-bottom: 50px;
    background-size: 200%;
  }
  @media (max-width:991px) {
    background-size: cover;
    background-position-x: -100px;
    padding-top: 50px;
  }
  @media (max-width:680px) {
    padding-top: 20px;
    padding-bottom:0;
  }

}

.index-event{
  width:90%;
  margin:0 auto;
  @media (max-width:1279px) {
    width:85%;
  }

}
.index-event .ty-blog-recent-posts-scroller{
  margin:0;
  
}

.index-event .ty-blog-recent-posts-scroller__item{
  padding:0 30px;
  max-width: 840px;
  margin:0 auto;
  position: relative;
  @media (max-width:480px) {
    padding:0 ;
  }
}

.index-event .ty-blog-recent-posts-scroller__img-block{
  margin-bottom:30px;
}

.blog-logo{
  float: left;
  width:20%;
  @media (max-width:680px) {
    width:110px;
  }
  &:before{
    content:"";
    background: url(/images/companies/1/index_pic/icon-news-01.png?1548725356021) no-repeat 0 ;
    background-size: contain;
    width:100%;
    height:157px;
    display: block;
    @media (max-width:1279px) {
      height:110px;
    }
    @media (max-width:991px) {
      height:95px;
    }
  }
  @media (max-width:680px) {
    float:none;
  }
}

.blog-tit-zone{
  float: right;
  width:78%;
  font-size:@body_font_size + 10;
  padding-top:120px;
  margin-bottom:30px;
  @media (max-width:1279px) {
    padding-top:56px;
    font-size:@body_font_size;
    margin-bottom:12px;
  }
  @media (max-width:991px) {
    padding-top:45px;
    margin-bottom:20px;
  }
  @media (max-width:680px) {
    padding-top:5px;
    width:100%;
    float:none;
  }
  .blog_tit{
    background: @secondary_button;
    color: #fff;
    float: left;
    font-size: 26px;
    margin-right: 4px;
    padding: 14px 12px;
    @media (max-width:1279px) {
      padding: 12px;
      font-size:16px;
    }
    @media (max-width:680px) {
      padding: 12px;
      font-size:16px;
      float:none;
      width:100%;
    }
  }
  .blog_tit-content{
    background: rgba(255,233,236,.6);
    display: block;
    font-size: 26px;
    margin-left: 106px;
    padding: 12px 20px;
    text-align: left;
    @media (max-width:1279px) {
      margin-left: 75px;
      padding: 11px 10px;
      font-size: 16px;
    }
    @media (max-width:680px) {
      margin-left: 0;
    }
    a{
      font-size:26px;
      @media (max-width:1279px) {
        font-size:16px;
      }
    }
  }


}
.index_video_zone{
  margin-top:150px;
  @media (max-width:1279px) {
    margin-top:60px;
  }
 
}
.index_video{
  max-width:600px;
  margin:0 auto;
  @media (max-width:1680px) {
    padding:0 20px 0 0;
  }
  @media (max-width:991px) {
    padding:20px;
  }
}

.ty-blog__read-more{
  .ty-btn {
    padding:10px 30px;
    font-size:28px;
    @media (max-width:991px) {
      padding:8px 25px;
     font-size:26px;
    }

    @media (max-width:680px) {
      padding:8px 25px;
     font-size:18px;
    }
  }
}

.index-event{
  position: relative;
  .ty-owl-controls{
    margin:0;
    position: static;
    i{
      display: none;
    }
    

  }
}


.index-event .owl-theme .owl-controls-outside .owl-buttons div.owl-prev{
  position: absolute;
  left:-50px;
  top:50%;
  width: 42px;
  height: 42px;
  background:none;
  opacity: 1;
  z-index: 20;
  @media(max-width:480px){
    width: 30px;
    height: 30px;
    padding:0;
  }
  @media(max-width:1279px){
    left:-30px;
  }
  @media(max-width:1279px){
    left:-43px;
  }
  @media(max-width:480px){
    left:0px;
    bottom:5px;
    top:auto;
  }
  &:before{
    background: url(/images/companies/1/index_pic/button-previous.png?1548672163305) no-repeat 0;
    content: "";
    width: 42px;
    height: 42px;
    border: 0;
    display: block;
    z-index: 100;
    @media(max-width:480px){
      width: 30px;
      height: 30px;
      background-size: contain;
    }
  }

}


.index-event .owl-theme .owl-controls-outside .owl-buttons div.owl-next{
  position: absolute;
  right:-50px;
  top:50%;
  width: 42px;
  height: 42px;
  background:none;
  opacity: 1;
  z-index: 20;
  @media(max-width:480px){
    width: 30px;
    height: 30px;
    padding:0;
    right:0px;
    bottom:5px;
    top:auto;
  }
  @media(max-width:1680px){
    right:-30px;
  }
  @media(max-width:1279px){
    right:-20px;
  }
 
  &:before{
    background: url(/images/companies/1/index_pic/button-next.png?1548672032897) no-repeat 0;
    content: "";
    width: 42px;
    height: 42px;
    border: 0;
    display: block;
    content: "";
    @media(max-width:480px){
      width: 30px;
      height: 30px;
      background-size: contain;
    }
  }

}


h2{
  font-size: 30px;
  margin-bottom: 18px;
  color:#333;
  font-weight: normal;
}
.ty-wysiwyg-content h2 {
  font-size: 36px;
  font-weight: normal;
  color:#757575;
  letter-spacing: 8px;
  @media(max-width:480px){
    font-size:30px;
  }
}


@media(max-width:991px){
  .row-fluid .index_news{
    width:100%;
  }
  .row-fluid .index_video_zone{
    width:100%;
    margin:0;
  }
}




//================================================================================首頁全系列商品


.in_pro_content{
  padding-top:50px;
  @media(max-width:1365px){
    padding-top:20px;
  }
  @media(max-width:480px){
    padding-top:10px;
  }
}
.index-all-cate-wrap{
  padding:50px;
  text-align: center;
  @media(max-width:1279px){
    padding:30px;
  }
  @media(max-width:480px){
    padding:30px 20px;
  }
  >div{
  max-width: 1840px;
  margin:0 auto;
  }
  div{
    font-size:@body_font_size + 8;
    color:#fff;
    @media (max-width:1680px) {
      font-size:@body_font_size + 2;
    }
  }
  .pro_box{
    width:calc(100% ~ "/" 4 ~ "-" 20px);
    margin:0 10px 20px;
    float: left;
    position: relative;
    @media (max-width:991px) {
      width:calc(100% ~ "/" 2 ~ "-" 20px);
      &:nth-child(2n+1){
        clear: left;
      }
    }
    @media (max-width:480px) {
      width:100%;
      margin:0 auto 20px;
    }
    &:nth-child(4n+1){
      clear: left;
      @media (max-width:991px) {
        clear: none;
      }
    }
    a.cover{
      width:100%;
      height:100%;
      background:rgba(0,0,0,0);
      position: absolute;
      z-index: 30;
      left:0;
      top:0
    }
    div.cover{
      width:100%;
      height:100%;
      position: absolute;
      z-index: 20;
      left:0;
      top:0;
      opacity: 0;
      transition: all 0.5s ease-in-out;
      .in_pro_name{
        position: absolute;
        left:50%;
        top:50%;
        transform: translate(-50%, -50%);
        width:100%;
        .icon{
          width:120px;
          height:120px;
          border-radius: 80px;
          overflow: hidden;
          margin:0 auto 10px;
          @media (max-width:1680px) {
            width:100px;
           height:100px;
          }
          @media (max-width:680px) {
            width:80px;
           height:80px;
          }
        }

      }
    
    }
    &:hover{
      div.cover{
        opacity: 1;
      }
    }
  }
  
}

.paper{
  div.cover{
    background: rgba(141,188,230,.65);
  }
}
.girl{
  div.cover{
    background: rgba(195,7,78,.65);
  }
}
.mask{
  div.cover{
    background: rgba(215,143,77,.65);
  }
}
.care{
  div.cover{
    background: rgba(171,73,213,.65);
  }
}
.baby{
  div.cover{
    background: rgba(220,206,66,.65);
  }
}
.home{
  div.cover{
    background: rgba(168,218,216,.65);
  }
}

.mix{
  div.cover{
    background: rgba(67,114,200,.65);
  }
}

.sale{
  div.cover{
    background: rgba(223,35,35,.65);
  }
}


//======================================================================inside_menu

.all_pro_cate{
  background:#f5b8c2;
  padding-top:170px;
  @media (max-width:767px) {
    padding-top:120px;
  }
  @media (max-width:680px) {
    padding-top:100px;
  }
  @media (max-width:380px) {
    padding-top:80px;
  }
  .ty-menu__item-link{
    display:none;
    
  }
  .ty-menu__submenu-items{
    border:0;
    position: static;
    padding:0 0 20px;
    display:inline-block;
    background:none;
    text-align: center;
    a{
      background:none;
      font-size: @body_font_size ;
    }
    li{
      display: inline-block;
      text-align: center;
      .mu_pro_box{
        margin:0 5px;
        .pic{
          border-radius: 70px;
          overflow: hidden;
          width:110px;
          margin:0 auto 10px;
          border:4px solid rgba(255,255,255,0);
          transition: all 0.3s ease-in-out;
        }
      }
    }
    .ty-menu__submenu-item-active{
      a{
        background:none;
        
      }
    }
  }
  .ty-wysiwyg-content{
    text-align:center;
  }
}


.ty-menu__submenu-items{
  li.ty-menu__submenu-item:hover,
  li.ty-menu__submenu-item-active{
    a{
      color:#fff;
    }
    
  }
}


.ty-menu__submenu-items{
  li.ty-menu__submenu-item:hover,
  li.ty-menu__submenu-item-active{
    .pic{
      border:4px solid @secondary_button;
    }
    @media (max-width:767px) {
      a{
        color: @secondary_button;
      }
    }
    
  }
}

.ty-menu__submenu-items{
  li.ty-menu__submenu-item:hover:first-child,
  li.ty-menu__submenu-item-active:first-child{
    .pic{
      border:4px solid #8dbce6;
    }
    @media (max-width:767px) {
      a{
        color: #8dbce6;;
      }
    }
    
  }
}

.ty-menu__submenu-items{
  li.ty-menu__submenu-item:hover:nth-child(2),
  li.ty-menu__submenu-item-active:nth-child(2){
    .pic{
      border:4px solid #ff5e74;
    }
    @media (max-width:767px) {
      a{
        color: #ff5e74;;
      }
    }
  }
}

.ty-menu__submenu-items{
  li.ty-menu__submenu-item:hover:nth-child(3),
  li.ty-menu__submenu-item-active:nth-child(3){
    .pic{
      border:4px solid #d78f4d;
    }
    @media (max-width:767px) {
      a{
        color: #d78f4d;
      }
    }
    
  }
}

.ty-menu__submenu-items{
  li.ty-menu__submenu-item:hover:nth-child(4),
  li.ty-menu__submenu-item-active:nth-child(4){
    .pic{
      border:4px solid #ab49d5;
    }
    @media (max-width:767px) {
      a{
        color: #ab49d5;
      }
    }
    
  }
}

.ty-menu__submenu-items{
  li.ty-menu__submenu-item:hover:nth-child(5),
  li.ty-menu__submenu-item-active:nth-child(5){
    .pic{
      border:4px solid #dcce42;
    }
    @media (max-width:767px) {
      a{
        color: #dcce42;
      }
    }
    
  }
}

.ty-menu__submenu-items{
  li.ty-menu__submenu-item:hover:nth-child(6),
  li.ty-menu__submenu-item-active:nth-child(6){
    .pic{
      border:4px solid #a8dad8;
    }
    @media (max-width:767px) {
      a{
        color: #a8dad8;
      }
    }
    
  }
}

.ty-menu__submenu-items{
  li.ty-menu__submenu-item:hover:nth-child(7),
  li.ty-menu__submenu-item-active:nth-child(7){
    .pic{
      border:4px solid #4372c8;
    }
    @media (max-width:767px) {
      a{
        color: #4372c8;
      }
    }
    
  }
}

.ty-menu__submenu-items{
  li.ty-menu__submenu-item:hover:nth-child(8),
  li.ty-menu__submenu-item-active:nth-child(8){
    .pic{
      border:4px solid #df2323;
    }
    @media (max-width:767px) {
      a{
        color: #df2323;
      }
    }
    
  }
}

.ty-menu__submenu-items{
  li.ty-menu__submenu-item:hover:nth-child(9),
  li.ty-menu__submenu-item-active:nth-child(9){
    .pic{
      border:4px solid #6eb302;
    }
    @media (max-width:767px) {
      a{
        color: #6eb302;
      }
    }
    
  }
}


.mu_pro_box{
  position: relative;
  .ty-menu__submenu-cover{
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    z-index: 500;

  }
}

@media(max-width:767px){
  .ty-menu__submenu .ty-menu__submenu-items{
    border:0;
    background: rgba(255, 229, 229, 0.5);
    padding:15px;
    .ty-menu__submenu-item{
      width:calc(100%~ "/" 4 ~ "-" 10px);
      float: left;
      margin:0 5px 6px;
      text-align: center;
      border-bottom:0;
      &:nth-child(4n+1){
        clear: left;
      }

    }
    &:after{
      content: "";
      clear: both;
      display: table;
    }
  }

  .ty-menu__item .ty-menu__item-toggle-active {
    background: @secondary_button;
    color:#fff;
    &:hover{
      color:#fff;
    }
  }
  .ty-menu__item-toggle:hover{
    color:@secondary_button;
  }

  .ty-menu__submenu-item{
    .pic{
      width:110px;
      border-radius: 80px;
      margin:0 auto;
      overflow: hidden;
    }
  }
}

@media(max-width:680px){
  .ty-menu__submenu .ty-menu__submenu-items{
    .ty-menu__submenu-item{
      width:calc(100%~ "/" 3 ~ "-" 10px);
      float: left;
      margin:0 5px 6px;
      text-align: center;
      border-bottom:0;
      &:nth-child(4n+1){
        clear: none;
      }
      &:nth-child(3n+1){
        clear: left;
      }

    }
    
  }
}
@media(max-width:480px){
  .ty-menu__submenu .ty-menu__submenu-items{
    padding:5px 0;
    .ty-menu__submenu-item{
      width:calc(100%~ "/" 2 ~ "-" 10px);
      float: left;
      margin:0 5px 6px;
      text-align: center;
      border-bottom:0;
      &:nth-child(3n+1){
        clear: none;
      }
      &:nth-child(2n+1){
        clear: left;
      }

    }
    
  }
}



.tygh-top-panel{
  background:#f5b8c2;
  border-bottom:0;
}

#tygh_container{
  background:url(/images/companies/1/all_comm/content_bg.jpg?1548751287528) no-repeat top right #fff;
  position: relative;
  @media (max-width:767px) {
    padding-bottom:72px;
    
  }
}
#tygh_container.index_wrap{
  background:none;

}
.grid-list{
  padding-top:40px;
}

.ty-product-list__control{
  text-align:left;
  .ty-btn{
    border-radius: 0;
  }
}

.ty-add-to-wish{
  transition: all 0.3s ease-in-out;
  &:before{
    content: "\e903";
    font-family: 'icomoon2';
    display: inline-block;
    color:@secondary_button;
    margin-right:2px;
    font-size: 20px;
    vertical-align: middle;

  }
  &:hover{
    color:@secondary_button;
  }
}

//=========================================================產品詳細頁
.text-left {
  text-align: left;
}
.ty-product-switcher{
  top:40px;
  .switcher__a{
    top:1px;
  } 
  span{
    line-height: 120%;
  }
}

.ty-product-block__wrapper{
  margin-top:30px;
}

.pro_detail_wrap{
  width:100%;
  max-width: 100%;
  .ty-product-block__wrapper,
  .ty-breadcrumbs,
  .tab_wrap {
    max-width: 1170px;
    min-width: 280px;
    margin-right: auto;
    margin-left: auto;
    @media (max-width:1279px) {
      margin-right:20px;
      margin-left:20px;

    }
  }
 
}

@media (max-width:991px) {
  .pro_detail_wrap .ty-product-block__wrapper{
    margin-right:0;
    margin-left:0;
  }
}
@media (max-width:480px) {
  .pro_detail_wrap .tab_wrap{
    border:1px solid @secondary_button;
  }
  .ty-accordion{
    margin-top:0;
    .ui-accordion-header{
      margin:0 0 1px;
    }
  }
  .ui-accordion-content-active{
    padding:20px;
    text-align: left;
  }
}


.ty-product-detail .tab_out_bg{
  margin-right:-20px;
  margin-left:-20px;
  

}
.tab_out_bg{
  background: url(/images/companies/1/all_comm/proshow_bg.jpg?1548755873707) no-repeat top center;
  margin-top: 50px;
  padding: 50px 0;
  .ty-tabs{
    border: @secondary_button 1px solid;
    border-bottom:0;
    background: rgb(245, 244, 244);
    margin-top:0;
  }
  .ty-tabs__item{
    background:none;
    margin:0;
    padding:0;
    .ty-tabs__a{
      border-right: @secondary_button 1px solid;
      font-size: 20px;
      padding: 6px 20px;
      height:auto;
      color:#525252;
      line-height: 130%;
    }
    &.active,
    &:focus{
      .ty-tabs__a{
        background:@secondary_button;
        color:#fff;
        position: relative;
      }
    }
    &:hover{
      .ty-tabs__a{
      color:@secondary_button;
      }
    }
    &.active{
      &:after{
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 16px 6px 0 6px;
        border-color: #c3074f transparent transparent transparent;
        display: block;
        bottom: -14px;
        left: calc(50% ~ "-" 8px);
        position: absolute;
      }
    }

  }
  .ty-tabs__content{
    font-size: @body_font_size;
    border:1px solid @secondary_button;
    background:rgba(255,255,255,0.8);
  }
}
.keep_way{
  max-width: 800px;
  margin:0 auto
}
.ty-product-block__img-wrapper{
  width:55%;
  margin-right:0;
  @media (max-width:991px) {
    width:100%;
    float:none;
    display: block;
  }

}



.ty-product-detail .ty-product-block__left{
  width:45%;
  margin-right:0;
  padding:0 15px 0 30px;

  @media (max-width:991px) {
    width:100%;
    float:none;
    display: block;
    padding:0 ;
  }

}
.ty-product-img{
  border:0;
}
.ty-value-changer__increase,
.ty-value-changer__decrease{
  width: 16px;
  height: 16px;
}
.ty-btn__add-to-cart{
  &.ty-btn{
    border-radius: 0;
  }
}
.ty-product-block__note{
  padding:0;
  width:auto;
  color:#333;
  line-height: 220%;
  
  div ,li{
    font-size: @body_font_size + 4;
  }
  
}

.ty-product-block__price-actual{
  .ty-price-num{
    font-size: @body_font_size + 20;
    font-weight: normal;
  }
}
.ty-product-prices{
  .list-price-label,
  .ty-strike{
    color:@secondary_button;
  }
  .ty-list-price{
    color:@secondary_button;
  }
}
.ty-product-block__advanced-option {
  border-top:1px dotted #b1b1b1;
  border-bottom:1px dotted #b1b1b1;
  padding:10px 15px;
}
div.ty-reward-group{
  color:@secondary_button;
  .ty-control-group__label,
  .ty-control-group__item{
    padding:2px;
    font-size: @body_font_size - 1;
  }
  
}
.ty-product-block-title{
  font-size: @body_font_size + 20;
  font-weight: normal;
  @media (max-width:991px) {
    font-size: @body_font_size + 12;
  }
}


.ty-product-block__sku{
  div{
  font-size: @body_font_size + 4; 
  }
  .ty-control-group__label{
    width:auto;
    float:none;

  }
  .ty-control-group__label,
  .ty-control-group__item{
    padding:0 ;
    margin:0;
    line-height: 200%;
  }
}

#category_products_11{
  position: relative;
  z-index: 10;
  text-align:center;
  ul.subcategories{
    display: none;
  }
}

.ty-qty-in-stock{
  color:#8dbce6;
}

.ty-product-list__description{
  margin-bottom:10px;
}
.ty-product-list .add_cart_btn , .ty-product-block__button .add_cart_btn{
  display: inline-block;
  position: relative;
  &:before{
    content: "";
    display: inline-block;
    height: 32px;
    vertical-align: top;
    width: 32px;
    background: url('/images/companies/1/comm/menu-3.png?1548812236') no-repeat;
  }
}



.bar1, .bar2, .bar3 {
  width: 30px;
  height: 3px;
  background-color: @secondary_button;
  margin: 6px 0;
  transition: 0.4s;
}

//=============================================================ft_fixed
@media(max-width:767px){
  .fixed_zone{
    >div{
      width:calc(100% ~ "/" 3);
      float:left;
      text-align:center;
      &+div{
        border-left:1px solid #ccc;
      }
      a{
        padding:10px 5px 5px;
        display: block;
        font-size: 15px;
      }
      span{
        font-size:30px;
        color:@secondary_button;
      }
      &.car{
        background:#eee;
      }
    }
  }
  .fixed_bt{
    position: fixed;
    width:100%;
    background:#fff;
    border-top:3px solid @secondary_button;
    z-index: 999;
    left:0;
    bottom:0;
  
  }
}
